<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.BookMapper">

    <!--增加图书-->

    <insert id="addBook" parameterType="book">
        insert  into book (id,name,cover,lend,price,count) values (#{id},#{name},#{cover},#{lend},#{price},#{count})
    </insert>

    <!--借图书中的改变图书-->
    
    <update id="borrowBook">
        update book set count=count+1 , uid=#{uid} where id = #{bid}
    </update>

    <!--还书-->
    <update id="re" parameterType="string">
        update book set uid = 0 where id = #{id}
    </update>

    <!--按照书的id查询书-->
    <select id="getBookById" parameterType="string" resultType="Book">
        select * from book where id=#{id}
    </select>
    
    <!--查询所有书籍-->
    <select id="getAll" resultType="Book">
        select * from book;
    </select>

    <!--全字段模糊搜索-->
    <select id="searchAll" resultType="Book">
        select * from book where id like concat(concat('%',#{search}),'%') or name like concat(concat('%',#{search}),'%') or author like concat(concat('%',#{search}),'%') or location like concat(concat('%',#{search}),'%')
    </select>

</mapper>