<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.UserMapper">

    <!--根据用户名查询用户-->
    <select id="getYonghu" parameterType="Yonghu" resultType="Yonghu">
        select * from yonghu where name=#{name} and password=#{password}
    </select>

    <!--增加用户-->
    <insert id="addYonghu" parameterType="Yonghu">
        insert into yonghu(id,name,password,avatar,book_number,limit_y) values (#{id},#{name },#{password},#{avatar},#{book_number},#{limit_y})
    </insert>

</mapper>